/* ------ animation ------ */

.anima {
    transform: translateY(310px);
    animation: moveUp 20s forwards;
    position: relative;
}

@keyframes moveUp {
    0%, 5% {
        transform: translateY(310px);
    }
    
    14%, 19% {
        transform: translateY(271.25px);
    }
    
    28%, 33% {
        transform: translateY(212.5px);
    }
    
    42%, 47% {
        transform: translateY(173.75px);
    }
    
    56%, 61% {
        transform: translateY(135px);
    }
    
    70%, 75% {
        transform: translateY(76.25px);
    }
    
    84%, 89% {
        transform: translateY(37.5px);
    }
    
    98%, 100% {
        transform: translateY(0px);
    }
}
